@model EntertainLog.Models.ViewModel.BookViewModel;
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>
            Edit @Model.CurrBook.Title
        </title>
    </head>
    <body>
        <div>
            <a class="rounded-pill" asp-action="Dashboard">Back</a> <h1>Books</h1>
        </div>

        <h3>Edit @Model.CurrBook.Title</h3>
        <form asp-action="Book" method="post">
            <div asp-validation-summary="All"></div>
            @*             <label asp-for="@Model.NewBook.BookID">The Book Number</label>
            <input asp-for="@Model.NewBook.BookID" />
            <br /> *@
            <label asp-for="@Model.NewBook.Title">The Book Title</label>
            <input asp-for="@Model.NewBook.Title" />
            <br />
            <label asp-for="@Model.NewBook.Author">The Book Author</label>
            <input asp-for="@Model.NewBook.Author" />
            <br />
            <label asp-for="@Model.NewBook.Year">The Book Release Year</label>
            <input asp-for="@Model.NewBook.Year" />
            <br />
            <label asp-for="@Model.NewBook.Genre">The Book Genre</label>
            <input asp-for="@Model.NewBook.Genre" />
            <br />
            <label asp-for="@Model.NewBook.PageCount">The Book Page Count</label>
            <input asp-for="@Model.NewBook.PageCount" />
            <br />
            <label asp-for="@Model.NewBook.Read">Already Read? </label>
            <input type="checkbox" asp-for="@Model.NewBook.Read" />
            <br />
            <label asp-for="@Model.NewBook.Rating">The Book Rating</label>
            <select asp-for="@Model.NewBook.Rating">
                @for (int i = 1; i <= 5; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <br />
            <label asp-for="@Model.NewBook.Notes">Comments</label>
            <textarea asp-for="@Model.NewBook.Notes" />
            <br />
            <input asp-for="@Model.NewBook.UserID" value="@Model.Curruser.UserID" />
            <button type="submit">Submit</button>

        </form>
        <br />
        

    </body>

</html>
