@model EntertainLog.Models.ViewModel.BookViewModel;
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>
            Edit @Model.CurrBook.Title
        </title>
    </head>
    <body>
        <div>
            <form asp-action="Book" asp-route-id="@Model.CurrUser.UserID" method="get">
                <button type="submit">Back</button>
            </form>
            <h1>Books</h1>
        </div>

        <h2>Edit @Model.CurrBook.Title</h2>
        <form asp-action="EditBook" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="@Model.CurrBook.BookID" value="@Model.CurrBook.BookID" />
            <br />
            <label asp-for="@Model.CurrBook.Title">The Book Title</label>
            <input asp-for="@Model.CurrBook.Title" />
            <br />
            <label asp-for="@Model.CurrBook.Author">The Book Author</label>
            <input asp-for="@Model.CurrBook.Author" />
            <br />
            <label asp-for="@Model.CurrBook.Year">The Book Release Year</label>
            <input asp-for="@Model.CurrBook.Year" />
            <br />
            <label asp-for="@Model.CurrBook.Genre">The Book Genre</label>
            <input asp-for="@Model.CurrBook.Genre" />
            <br />
            <label asp-for="@Model.CurrBook.PageCount">The Book Page Count</label>
            <input asp-for="@Model.CurrBook.PageCount" />
            <br />
            <label asp-for="@Model.CurrBook.Read">Already Read? </label>
            <input type="checkbox" asp-for="@Model.CurrBook.Read" />
            <br />
            <label asp-for="@Model.CurrBook.Favourited">Favourite? </label>
            <input type="checkbox" asp-for="@Model.CurrBook.Favourited" />
            <br />
            <label asp-for="@Model.CurrBook.Queued">Queue to Read Next? </label>
            <input type="checkbox" asp-for="@Model.CurrBook.Queued" />
            <br />
            <label asp-for="@Model.CurrBook.Rating">The Book Rating</label>
            <select asp-for="@Model.CurrBook.Rating">
                @for (int i = 1; i <= 5; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <br />
            <label asp-for="@Model.CurrBook.Notes">Comments</label><br />
            <textarea asp-for="@Model.CurrBook.Notes" rows="4" cols="50">@Model.CurrBook.Notes</textarea>
            <br />
            <input asp-for="@Model.CurrBook.UserID" value="@Model.CurrUser.UserID" type="hidden" />
            <button type="submit">Submit</button>

        </form>
        <br />
        

    </body>

</html>
