@model User
@{
    Layout = "_Layout";
}
<html>
    <head>
    <title>
        EntertainLog
    </title>
    </head>

    <body>
        <h1>Welcome to the EntertainLog!</h1>
        <h2>Not our member yet? Join us Today!!</h2>
        <form asp-action="SignUp" method="post">
            <label asp-for="@Model.UserName">Your User Name</label>
            <input asp-for="@Model.UserName" />
            <br />
            <label asp-for="@Model.Email">Your Email</label>
            <input asp-for="@Model.Email" />
            <br />
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" />
            <br />
            <button type="submit">Sign Up</button>

        </form>
        <p>Already with us? <a asp-action="Login">Login Now!</a></p>
    </body>
</html>