@model EntertainLog.Models.ViewModel.MovieViewModel;
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>
            Movies in your EntertainLog
        </title>
    </head>
    <body>
        <div>
            <form asp-action="Dashboard" asp-route-id="@Model.CurrUser.UserID" method="get">
                <button type="submit">Back</button>
            </form>
            <h1>Movies in @Model.CurrUser.UserName 's EntertainLog</h1>
        </div>

        <h3>Add a new Movie</h3>
        <form asp-action="Movie" method="post">
            <div asp-validation-summary="All"></div>
        

            <label asp-for="@Model.NewMovie.Title">The Movie Title</label>
            <input asp-for="@Model.NewMovie.Title" />
            <br />
            <label asp-for="@Model.NewMovie.Director">The Movie Director</label>
            <input asp-for="@Model.NewMovie.Director" />
            <br />
            <label asp-for="@Model.NewMovie.Year">The Movie Release Year</label>
            <input asp-for="@Model.NewMovie.Year" />
            <br />
            <label asp-for="@Model.NewMovie.Genre">The Movie Genre</label>
            <input asp-for="@Model.NewMovie.Genre" />
            <br />
            <label asp-for="@Model.NewMovie.Runtime">The Runtime</label>
            <input asp-for="@Model.NewMovie.Runtime" />
            <br />
            <label asp-for="@Model.NewMovie.Watched">Already Watched? </label>
            <input type="checkbox" asp-for="@Model.NewMovie.Watched" />
            <br />
            <label asp-for="@Model.NewMovie.Rating">The Movie Rating</label>
            <select asp-for="@Model.NewMovie.Rating">
                @for (int i = 1; i <= 5; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <br />
            <label asp-for="@Model.NewMovie.Notes">Comments</label>
            <textarea asp-for="@Model.NewMovie.Notes" rows="4" cols="50">What did you think?</textarea>
            <br />
            <input asp-for="@Model.NewMovie.UserID" value="@Model.CurrUser.UserID" type="hidden" />
            <button type="submit">Submit</button>

        </form>
        <br />
        <hr />
        <h2> Your Movies</h2>

        @* Need to check if there are Movies in the repo to display the table  *@
        @if (Model.Movies.Any())
        {
            <br />
            <table class="table-bordered">
                <thead>
                    <tr>
                        <td>Movie Title</td>
                        <td>Movie Director</td>
                        <td>Movie Year</td>
                        <td>Genre</td>
                        <td>Runtime</td>
                        <td>Watched</td>
                        <td>Favourited</td>
                        <td>Queued</td>
                        <td>Rating</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.Movies)
                    {
                        <tr>
                            <td>@movie.Title</td>
                            <td>@movie.Director</td>
                            <td>@movie.Year</td>
                            <td>@movie.Genre</td>
                            <td>@movie.Runtime</td>
                            <td>@movie.Watched</td>
                            <td>@movie.Favourited</td>
                            <td>@movie.Queued</td>
                            <td>@movie.Rating</td>
                            <td>
                                <form asp-action="EditMovie" method="get">
                                    <input type="hidden" name="movieID" value="@movie.MovieID" />
                                    <button type="submit">View</button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="DeleteMovie" method="post">
                                    <input type="hidden" name="movieID" value="@movie.MovieID" />
                                    <button type="submit">Delete</button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }else{
            <h4>Find something to Watch!</h4>
        }

    </body>

</html>