@model EntertainLog.Models.ViewModel.MusicViewModel;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Edit @Model.CurrMusic.Title
    </title>
</head>
<body>
    <div>
        <a class="rounded-pill" asp-action="Dashboard">Back</a> <h1>Music</h1>
    </div>

    <h3>Edit @Model.CurrMusic.Title</h3>
    <form asp-action="Music" method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="@Model.CurrMusic.MusicID" value="@Model.CurrMusic.MusicID"/>
        <br />
        <label asp-for="@Model.CurrMusic.Title">The Music Title</label>
        <input asp-for="@Model.CurrMusic.Title" />
        <br />
        <label asp-for="@Model.CurrMusic.Artist">The Music Author</label>
        <input asp-for="@Model.CurrMusic.Artist" />
        <br />
        <label asp-for="@Model.CurrMusic.Year">The Music Release Year</label>
        <input asp-for="@Model.CurrMusic.Year" />
        <br />
        <label asp-for="@Model.CurrMusic.Genre">The Music Genre</label>
        <input asp-for="@Model.CurrMusic.Genre" />
        <br />
        <label asp-for="@Model.CurrMusic.Runtime">The Music Page Count</label>
        <input asp-for="@Model.CurrMusic.Runtime" />
        <br />
        <label asp-for="@Model.CurrMusic.Album">The Music Album</label>
        <input asp-for="@Model.CurrMusic.Album" />
        <br />
        <label asp-for="@Model.CurrMusic.Listened">Already Listened? </label>
        <input type="checkbox" asp-for="@Model.CurrMusic.Listened" />
        <br />
        <label asp-for="@Model.CurrMusic.Favourited">Favourite? </label>
        <input type="checkbox" asp-for="@Model.CurrMusic.Favourited" />
        <br />
        <label asp-for="@Model.CurrMusic.Queued">Queue to Read Next? </label>
        <input type="checkbox" asp-for="@Model.CurrMusic.Queued" />
        <br />
        <label asp-for="@Model.CurrMusic.Rating">The Music Rating</label>
        <select asp-for="@Model.CurrMusic.Rating">
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <br />
        <label asp-for="@Model.CurrMusic.Notes">Comments</label>
        <textarea asp-for="@Model.CurrMusic.Notes" />
        <br />
        <input type="hidden" asp-for="@Model.CurrMusic.UserID" value="@Model.CurrUser.UserID" />
        <button type="submit">Submit</button>

    </form>
    <br />


</body>

</html>
