@model EntertainLog.Models.ViewModel.MusicViewModel;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Music in your EntertainLog
    </title>
</head>
<body>
    <div>
        <a class="rounded-pill" asp-action="Dashboard">Back</a> <h1>Music</h1>
    </div>

    <h3>Add a new Song</h3>
    <form asp-action="Music" method="post">
        <div asp-validation-summary="All"></div>
        @*             <label asp-for="@Model.NewMusic.MusicID">The Music Number</label>
        <input asp-for="@Model.NewMusic.MusicID" />
        <br /> *@
        <label asp-for="@Model.NewMusic.Title">The Music Title</label>
        <input asp-for="@Model.NewMusic.Title" />
        <br />
        <label asp-for="@Model.NewMusic.Artist">The Music Artist</label>
        <input asp-for="@Model.NewMusic.Artist" />
        <br />
        <label asp-for="@Model.NewMusic.Year">The Music Release Year</label>
        <input asp-for="@Model.NewMusic.Year" />
        <br />
        <label asp-for="@Model.NewMusic.Genre">The Music Genre</label>
        <input asp-for="@Model.NewMusic.Genre" />
        <br />
        <label asp-for="@Model.NewMusic.Runtime">The Music Runtime</label>
        <input asp-for="@Model.NewMusic.Runtime" />
        <br />
        <label asp-for="@Model.NewMusic.Album">The Music Album</label>
        <input asp-for="@Model.NewMusic.Album" />
        <br />
        <label asp-for="@Model.NewMusic.Listened">Already Listened? </label>
        <input type="checkbox" asp-for="@Model.NewMusic.Listened" />
        <br />
        <label asp-for="@Model.NewMusic.Favourited">Favourite? </label>
        <input type="checkbox" asp-for="@Model.NewMusic.Favourited" />
        <br />
        <label asp-for="@Model.NewMusic.Queued">Queue to Listen to Next? </label>
        <input type="checkbox" asp-for="@Model.NewMusic.Queued" />
        <br />
        <label asp-for="@Model.NewMusic.Rating">The Music Rating</label>
        <select asp-for="@Model.NewMusic.Rating">
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <br />
        <label asp-for="@Model.NewMusic.Notes">Comments</label>
        <textarea asp-for="@Model.NewMusic.Notes" />
        <br />
        <input type="hidden" asp-for="@Model.NewMusic.UserID" value="@Model.CurrUser.UserID" />
        <button type="submit">Submit</button>

    </form>
    <br />
    @* Need to check if there are books in the repo to display the table  *@
    @if (Model.Musics.Any())
    {
        <br />
        <table class="table-bordered">
            <thead>
                <tr>
                    <td>Music Title</td>
                    <td>Music Artist</td>
                    <td>Release Year</td>
                    <td>Genre</td>
                    <td>Runtime</td>
                    <td>Listened</td>
                    <td>Favourited</td>
                    <td>Queued</td>
                    <td>Rating</td>
                    <td>Edit</td>
                    <td>Delete</td>

                </tr>
            </thead>
            <tbody>
                @foreach (var music in Model.Musics)
                {
                    <tr>
                        <td>@music.Title</td>
                        <td>@music.Artist</td>
                        <td>@music.Year</td>
                        <td>@music.Genre</td>
                        <td>@music.Runtime</td>
                        <td>@music.Listened</td>
                        <td>@music.Favourited</td>
                        <td>@music.Queued</td>
                        <td>@music.Rating</td>
                        <td>
                            <form asp-action="Edit" asp-route-id="@music.MusicID" method="post">
                                <button type="submit">View More</button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@music.MusicID" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

</body>

</html>